<div class="panel-heading clearfix">
  <h2 class="panel-title pull-left"><%= routeName %></h2>
  <input type="text" class="edit-tag-input" value="<%= tag %>">
  <a class="btn btn-info edit-tag pull-right btn-small">Edit</a>
  <a class="btn btn-default save-tag pull-right btn-small">Save</a>
  <a class="btn btn-danger delete pull-right btn-small">Delete</a>
</div>

<div class="panel-body">
  <p><%= stopName %></p>
</div>

<ul class="list-group"></ul>
