.app-header
  @extend .cf
  background: rgba(0,0,0,0.55)
  color: #fff
  h1
    float: left
    font-size: 1.3em
    padding: 15px
    font-weight: normal


.nav-toggle
  position: relative
  padding-left: 1.25em
  text-indent: -9999px
  display: block
  font-size: 42px
  margin-bottom: -0.375em
  @media screen and (min-width: 720px)
    display: none

.nav-toggle:before
  content: ""
  position: absolute
  top: 13px
  right: 15px
  width: 40px
  height: 0.125em
  border-top: 0.375em double #fff
  border-bottom: 0.125em solid #fff

.app-nav
  @media screen and (min-width: 720px)
    float: right

.nav-menu
  display: none
  width: 100%
  clear: both
  border-bottom: 1px solid rgba(255,255,255,0.5)
  a
    display: block
    text-align: center
    padding: 15px 0
    border-top: 1px solid rgba(255,255,255,0.2)
    background: rgba(255,255,255,0.1)
  @media screen and (min-width: 720px)
    display: block
    width: auto
    border-width: 0
    li
      display: inline-block
    a
      background: none
      border-width: 0
      padding: 17px 15px


#mystops
  margin-top: 15px

.stop-heading
  @extend .cf
  overflow: hidden
  background: rgba(255,255,255,0.4)
  color: #fff
  h2
    font-size: 18px
    display: inline-block
    font-weight: bold
    margin-right: 10px
  .header-content
    float: left
    width: 80%
    padding: 14px
    p
      font-size: 12px
  .header-actions
    width: 20%
    float: right
    .edit-tag, .save-tag
      float: left
      padding-top: 30px
      width: 50%
      text-align: center
    .edit-tag
      display: block
      font-size: 13px
    .delete
      float: right
      width: 50%
      padding: 14px
      background: rgba(255,255,255,0.18)
      padding-bottom: 100px
      margin-bottom: -90px
      background-image: url("../images/delete.png")
      background-position: center 25px
      background-repeat: no-repeat
      text-indent: -9999px
      display: block
  .tag
    font-size: 12px
    background: rgba(255,255,255,0.3)
    padding: 5px 8px
    color: rgba(0,0,0,0.8)
    font-style: italic

.stop-body
  background: rgba(255,255,255,0.16)
  list-style: none
  color: #fff
  margin-bottom: 15px
  li
    padding: 14px
    @extend .cf
  h3
    font-size: 14px
    font-weight: bold
    float: left
    margin-bottom: 0
    margin-right: 15px
  p
    font-size: 12px
    float: left
    text-overflow: ellipsis

.edit-tag-input
  display: none
  background: rgba(255,255,255, 0.7)
  border-color: transparent
  width: auto
  &.edit
    background: #fff

.save-tag
  display: none

#select_stops
  margin: 15px 0
  .btn
    position: relative
    top: 2px

.form-group
  display: inline-block
  margin-right: 15px
  select
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    font-family: inherit
    line-height: 1.428571429
    color: #555555
    vertical-align: middle
    background-color: #ffffff
    border: 1px solid #cccccc

.btn
  display: inline-block
  background: rgba(255,255,255,0.9)
  color: rgba(0,0,0,0.8)
  padding: 9px 15px