/* -- @module BTN -- */

.btn
  display: inline-block
  background: #cc000a
  padding: 12px 15px
  width: 100%
  text-align: center
  @media screen and (min-width: 720px)
    width: auto
    text-align: left