include includes/header

#mystops.container

  .no-stops
    h1 No stops selected!
    a.btn(href="#select") Select Stops

#select.container

  form#select_stops.select-stop-form

    select#routes(name="routes")
      option(value="") Select a Route

    select#directions(name="directions")
      option(value="") Select a direction

    select#stops(name="stops")
      option(value="") Select a Stop

    a.btn#add_stop Add Stop

    ul#validation

  .select-stop-saved
    #saved_stops

    a.btn(href="#index") View Predictions

script(type="text/template", id="saved-stop-template").
  <header class="saved-stop-header">
    <h2><%= routeName %></h2>
    <% if (tag.length > 0) { %>
      <span class="tag"><%= tag %></span>
    <% } else { %>
      <span class="tag"><a class="add-tag">Add Tag</a></span>
    <% } %>
    <input type="text" class="edit-tag-input" value="<%= tag %>">
    <a class="save-tag">Save</a>
    <p><%= stopName %></p>
    <a class="delete">Delete</a>
  </header>

  <ul class="saved-stop-body"></ul>

script(type="text/template", id="prediction-template").
  <h3><span class="minutes"><%= minutes %></span> Minutes</h3>
  <p class="prediction-title"><%= direction %></p>

script(type="text/template", id="option-template").
  <%= title %>

include includes/footer