// build:js scripts/vendor.js
script(src='bower_components/jquery/jquery.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.js')
script(src='bower_components/underscore/underscore.js')
script(src='bower_components/backbone/backbone.js')
script(src='bower_components/Backbone.localStorage/backbone.localStorage.js')
// endbuild

// build:js(.tmp) scripts/main.js
script(src='scripts/combined-scripts.js')
// endbuild