doctype 5
html(lang="en")
  head
    title= MyStops
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main.css")
  body
    header.app-header
      h1
        a(href="index.html") MyStops
      nav.app-nav
        a(class="nav-toggle") Menu
        ul.nav-menu
          li
            a(href="#index") Predictions
          li
            a(href="#select") Select Stops
